In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns 
import numpy as np
import plotly.express as ps
import warnings
warnings.filterwarnings('ignore')

<img src="iris-dataset.png"/>

In [2]:
data=pd.read_csv("iris.csv")

In [3]:
data.head()

   sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa

In [4]:
data.shape

(150, 5)

In [16]:
data.species.value_counts()

species
0    50
1    50
2    50
Name: count, dtype: int64

In [17]:
data.shape

(150, 5)

In [18]:
data.columns

Index(['sepal_length', 'sepal_width', 'petal_length', 'petal_width',
       'species'],
      dtype='object')

In [26]:
data['species'] = data.species.astype('category').cat.codes

In [23]:
data.species.unique()

array([0, 1, 2], dtype=int8)

In [24]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 5 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   sepal_length  150 non-null    float64
 1   sepal_width   150 non-null    float64
 2   petal_length  150 non-null    float64
 3   petal_width   150 non-null    float64
 4   species       150 non-null    int8
dtypes: float64(4), int8(1)
memory usage: 5.0 KB

In [27]:
data.describe()

       sepal_length  sepal_width  petal_length  petal_width     species
count    150.000000   150.000000    150.000000   150.000000  150.000000
mean       5.843333     3.054000      3.758667     1.198667    1.000000
std        0.828066     0.433594      1.764420     0.763161    0.819232
min        4.300000     2.000000      1.000000     0.100000    0.000000
25%        5.100000     2.800000      1.600000     0.300000    0.000000
50%        5.800000     3.000000      4.350000     1.300000    1.000000
75%        6.400000     3.300000      5.100000     1.800000    2.000000
max        7.900000     4.400000      6.900000     2.500000    2.000000

In [28]:
data.duplicated().sum()

3

In [29]:
data[data.duplicated()]

     sepal_length  sepal_width  petal_length  petal_width  species
34            4.9          3.1           1.5          0.1        0
37            4.9          3.1           1.5          0.1        0
142           5.8          2.7           5.1          1.9        2

In [30]:
data = data.drop_duplicates()

In [31]:
data1.shape

NameError: name 'data1' is not defined